@import "/src/base/variables.scss";

.contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &__contact {
    color: $text-color;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
