@import "/src/base/variables.scss";

.navigation {
  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__navLink {
    color: $white;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
  }
}
