@import "../../base/variables.scss";
@import "../../partials/placeholders.scss";

.checkout {
  background: $primary-background;

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 20px 20px 0 20px;
  }

  &__wrapper {
    display: flex;
    gap: 75px;

    &--inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  }

  &__text {
    @extend %text-regular;
    color: $text-color;
  }

  &__value {
    @extend %headline1-mobile;
    color: $primary-button;
  }
}
