@import "../../base/variables.scss";
@import "../../partials/placeholders.scss";

.getInTouch {
  padding: 50px 20px;
  background-color: $black-background;

  &__title-wrapper {
    display: flex;
    gap: 5px;
    margin-bottom: 32px;
  }

  &__second-title {
    @extend %text-medium;
    color: $primary-button;
    margin-bottom: 11px;
  }

  &__title {
    @extend %headline2-mobile;

    &--blue {
      font-weight: 400;
      color: $primary-button;
    }
  }

  &__form {
    display: flex;
    gap: 24px;
    flex-direction: column;
  }

  &__inputs-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  &__error {
    @extend %text-small;
    color: red;
  }

  &__message {
    resize: none;
  }

  &__paragraph {
    @extend %text-small;
    color: $text-color;
    margin: 0 auto;
  }
}

.MuiInputBase-root {
  border-bottom: 1px solid $dark-grey;
  padding-bottom: 19px;
  transition: border 0.3s;
}

.MuiInputBase-root:focus {
  border-color: $primary-button;
}

.MuiTextField-root input {
  @extend %text-medium;
  color: $white;
}

.MuiTypography-root {
  color: $white;
}

.MuiList-root {
  background: $primary-background;
}

.css-r40f8v-MuiTypography-root {
  color: white !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  animation: none !important;
}
