@import "../../base/variables.scss";
@import "../../partials/placeholders.scss";

.getInTouch {
  padding: 50px 20px;
  background-color: $black-background;

  &__title-wrapper {
    display: flex;
    gap: 5px;
    margin-bottom: 32px;
  }

  &__second-title {
    @extend %text-medium;
    color: $primary-button;
    margin-bottom: 11px;
  }

  &__title {
    @extend %headline2-mobile;

    &--blue {
      font-weight: 400;
      color: $primary-button;
    }
  }

  &__message {
    resize: none;
  }

  &__paragraph {
    @extend %text-small;
    color: $text-color;
    margin-top: 15px;
    text-align: center;
  }
}
