@import "../../../base/variables.scss";
@import "../../../partials/placeholders.scss";

.complete {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title-wrapper {
    display: flex;
    gap: 5px;
    flex-direction: column;

    &--onPc {
      flex-direction: row;
    }
  }

  &__inner-title-wrapper {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  &__title {
    @extend %headline1-mobile;
    text-transform: uppercase;

    &--onPc {
      font-size: 46px;
      font-style: normal;
    }

    &--blue {
      font-weight: 400;
      color: $primary-button;
    }
  }

  &__paragraph {
    margin: 16px 0 30px;
    text-align: center;

    &--onPc {
      font-size: 18px;
    }
  }
}
