@import "../../base/variables.scss";
@import "../../partials/placeholders.scss";

.cardNumber {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__input-wrapper {
    display: flex;
    gap: 22px;
  }

  &__cards {
    display: flex;
    gap: 10px;
  }
}
