@import "/src/base/variables.scss";
@import "/src/partials/placeholders.scss";

.moreSection {
  background-color: $black-background;
  padding: 50px 20px;

  &__title {
    @extend %headline2-mobile;

    &--blue {
      color: $primary-button;
      font-weight: 400;
    }
  }

  &__second-title {
    @extend %text-medium;
    color: $primary-button;
    margin-bottom: 30px;
  }

  &__benefits {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__benefit {
    display: flex;
    flex-direction: column;
    gap: 11px;

    &-name {
      @extend %headline3;
    }

    &-description {
      @extend %text-regular;
      color: $text-color;
    }
  }
}
