@import "/src/base/variables.scss";
@import "/src/partials/placeholders.scss";

.aboutSection {
  background: $primary-background;
  padding: 50px 20px;

  &--onPc {
    padding: 50px 120px;
  }

  &__title {
    @extend %headline2-mobile;

    &--onPc {
      font-size: 36px;
      font-style: normal;
    }

    &--blue {
      color: $primary-button;
      font-weight: 400;
    }
  }

  &__top-container {
    &--onPc {
      display: flex;
      justify-content: end;
      gap: 110px;
    }
  }

  &__top-inner-container {
    &--onPc {
      display: flex;
      gap: 30px;
      flex-direction: column;
    }
  }

  &__bottom-container {
    &--onPc {
      display: flex;
      justify-content: space-between;
    }
  }

  &__currentSlide {
    @extend %text-medium;
    color: $primary-button;
    position: absolute;
    left: -50px;
  }

  &__pre-title {
    @extend %text-medium;
    color: $primary-button;
    margin-bottom: 11px;
  }

  &__paragraph {
    @extend %text-regular;
    color: $text-color;
    margin-bottom: 15px;

    &--onPc {
      width: 332px;

      &-bottom {
        width: 430px;
      }
    }
  }

  &__carousel {
    margin: 20px 0 40px;

    &--onPc {
      width: 630px;
      position: relative;
    }

    &-image {
      height: 190px;
      width: 380px;

      &--onPc {
        height: 320px;
        cursor: grab;

        &:active {
          cursor: grabbing;
        }
      }
    }
  }

  &__rotated-titles {
    display: flex;
    gap: 50px;
  }

  &__play-button {
    margin-bottom: 80px;
  }

  &__play-image {
    width: 200px;
    height: 100px;
  }

  &__title-wrapper {
    display: flex;
    gap: 5px;
    margin-bottom: 22px;
  }
}

.slick-dots li.slick-active button:before {
  color: $text-color !important;
}

.slick-dots li button:before {
  color: $dark-grey !important;
  font-size: 7px !important;
  top: 5px !important;
}
