@import "../../base/variables.scss";

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  background-color: $black-background;
  padding: 50px 20px;
  gap: 15px;

  &__info-container {
    display: flex;
    justify-content: space-between;
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}
