// base colors used during the project
$white: #fff;
$black: #000;

// primary colors
$primary-background: linear-gradient(108deg, #191536 0%, $black 100%);
$black-background: #05040b;
$primary-button: #05c2df;
$text-color: #929292;
$dark-grey: #2f2f2f;
